# **<span style="color:skyblue;">Guided Lab 342.3.2 - Insert Data Into MySQL From Python.</span>**


### **<span style="color:skyblue;">Learning Objective:</span>**
In this lab, we will discover how to insert data into a table using MySQL Connector/Python. By the end of this lab, learners will be able to insert data into MySQL using Python.

### **<span style="color:skyblue;">Prerequisite:</span>**
You must be familiar with using MySQL languages like Data Manipulation Language (DML) and Data Query Language (DQL). 

### **<span style="color:skyblue;">Steps:</span>**
- Create a database.
- Create a table for demonstration.
- To insert new rows into a MySQL table:

   <span style="color:skyblue;">1.</span> Connect to the MySQL database server by creating a new MySQLConnection object.

   <span style="color:skyblue;">2.</span> Initiate a MySQLCursor object from the MySQLConnection object.

   <span style="color:skyblue;">3.</span> Execute the INSERT statement to insert data into the table.
  
   <span style="color:skyblue;">4.</span>  Close the database connection.

### Creating a Database.
create the “usersdb” database

In [ ]:
# create a database

import mysql.connector

conn = mysql.connector.connect(user="root",host="localhost",password="perscholas1")

# get a cursor
cursor = conn.cursor()

# create a databse if not exists

database_sql = "CREATE DATABASE usersdb "
cursor.execute(database_sql)

### Create a Table.
 
 we create a table in our newly created database "usersdb"

In [ ]:
# create a table 
import mysql.connector 

# init connection with the database
try:
    conn = mysql.connector.connect(database='usersdb',password="perscholas1",host="localhost")

# get a cursor
    cursor = conn.cursor()

    table_sql = "CREATE TABLE laptop (Id int(11) NOT NULL,Name varchar(250),Price float NOT NULL,Purchase_date date NOT NULL)"
    
    cursor.execute(table_sql)
    print("table is created")
except:
    print("the table has not been created")

finally:
    if conn.is_connected():
        print("well done")
        cursor.close()
        print("Mysql connection is close")

table is created
well done
Mysql connection is close

 ### Insert a Single Row into MySQL Table from Python

we will Insert a Single Row into MySQL Table from Python.

In [8]:
import mysql.connector

try:
    conn = mysql.connector.connect(database='usersdb', password='perscholas1', host='localhost', user='root')

    sql_query = """INSERT INTO laptop(Id, Name, Price, Purchase_date) 
                   VALUES
                   (15, 'Lenovo ThinkPad', 6459, '2019-08-14') """
    cursor = conn.cursor()
    cursor.execute(sql_query)
    conn.commit()  # Commit changes to the database
    cursor.close()
    print("Data was inserted successfully")

except mysql.connector.Error as err:
    print("An error occurred:", err)

finally:
    if 'cursor' in locals():
        cursor.close()
    if 'conn' in locals():
        conn.close()

Data was inserted successfully

#### Use Python Variables in a MySQL Insert Query
Sometimes, you need to insert a Python variable value into a table’s column. For example, in the user signup form, the user enters his/her details. You can take those values in Python variables and insert them into a table.

In [9]:
import mysql.connector

def insert_variables_into_table(id, name, price, purchase_date):

    try:
        conn = mysql.connector.connect(database='usersdb',password="perscholas1",host="localhost")
        cursor = conn.cursor()
        query = """INSERT INTO laptop(Id, Name, Price, Purchase_date)
                VALUES
                (%s, %s, %s, %s)"""
        record = (id, name, price, purchase_date)
        cursor.execute(query,record)
        conn.commit()
        print("Record inserted successfully into Laptop table")
    
    except mysql.connector.Error as e:
        print("Failed to insert into MySQL table {}".format(error))
        
    finally:
        if conn.is_connected():
            conn.close()
            conn.close()
            print("MySQL connection is closed")


insert_variables_into_table(2, 'Area 51M', 6999, '2019-04-14') 
insert_variables_into_table(3, 'MacBook Pro', 2499, '2019-06-20')

Record inserted successfully into Laptop table
MySQL connection is closed
Record inserted successfully into Laptop table
MySQL connection is closed

 #### Insert multiple rows into MySQL Table using cursor’s executemany()
to insert multiple rows into a table in a single insert query from the Python application. Use the cursor’s executemany() function to insert multiple records into a table. 

**Syntax:**

**<span style="color:RED;">cursor.executemany(operation, seq_of_params)</span>**

In [15]:
import mysql.connector as mydbconnection
from mysql.connector import Error

try:
    conn = mydbconnection.connect(database='usersdb', user='root',password='perscholas1', port ='3306')

    mySql_insert_query = """INSERT INTO laptop (Id, Name, Price, Purchase_date) 
                           VALUES (%s, %s, %s, %s) """

    records_to_insert = [(4, 'HP Pavilion Power', 1999, '2019-01-11'),
                         (5, 'MSI WS75 9TL-496', 5799, '2019-02-27'),
                         (6, 'Microsoft Surface', 2330, '2019-07-23')]
    cursor = conn.cursor()
    cursor.executemany(mySql_insert_query, records_to_insert)
    conn.commit()
    print(cursor.rowcount, "Record inserted successfully into Laptop table")

except Error as error:
    print("Failed to insert record into MySQL table {}".format(error))

finally:
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection is closed")

3 Record inserted successfully into Laptop table
MySQL connection is closed